.dot {
  margin-right: 1rem;
}

.left {
  margin-right: 1rem;
}

select {
  border-radius: 30px;
  background: white;
  padding: 6px;
}
::ng-deep
.ngx-charts g .grid-panel.odd rect {
  fill: none;
}

.chart-description {
  margin: 0px 3px 20px 3px;
}
