#map {
  ::ng-deep {
    .marker {
      background-image: url("/assets/images/marker.png");
      background-size: cover;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}

#map{
  width: 100vh;
  height: 500vh;
  max-width: 100vh;
  max-height: 100vh;
  position: absolute;
  border-radius: 4vh;
  margin-right: 5vh;
}
.popup {
  position: fixed; /* Use fixed positioning */
  top: 142px;
  left: 383px;
  padding: 10px;
  border-radius: 15px;
  max-width: 400px;
  height: 100px;
  font-size: 12px;
  opacity: 0;
  z-index: 1; /* To make sure the popup appears on top of the map */
  transition: opacity 0.3s;
}

::ng-deep {
  .marker {
    background-image: url("/assets/images/marker.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.mainmap {
  flex: 3;
  width: 500px;
right: 5vh;
}
.btn-toggle {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1; /* ensure it overlays the map */
  padding: 5px 10px; /* Increased padding for a slightly bigger touch target */
  
  /* Typography */
  font-size: 0.9rem;
  font-weight: 500; 
  text-align: center;
  color:black;

 
  background-color: #95cbf6;
  border: 2px solid #ddd; 
  border-radius: 100px; /* Slightly increased radius for a more rounded appearance */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */

  /* Transition for smoother hover effect */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Hover State */
.btn-toggle:hover {
  background-color: #d1eaff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* A slightly more pronounced shadow on hover */
}



.btn-toggle:focus {
  outline: none; /* Remove default browser focus ring */
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6); /* Custom focus ring */
}




.zoom-btn {
  position: fixed;
  top: 50%;
  right: 0;
lor: black;
