<div class="box">
  <div class="max">
    <div class="row justify-between h-4">
      <p class="chart-title">Historical weather</p>
      <div class="outer-div">
        <input
          type="radio"
          id="temperature"
          name="weather"
          value="temperature"
        />
        <label for="temperature">Temperature</label>

        <input type="radio" id="rainfall" name="weather" value="rainfall" />
        <label for="rainfall">Rainfall</label>
        <div class="toggle">
          <p
            class="item"
            (click)="setIsActive('1W')"
            [class.active]="isActive('1W')"
    1W
          </p>
          <p
            class="item"
            (click)="setIsActive('1M')"
            [class.active]="isActive('1M')"
          >
            1M
          </p>
          <p
            class="item"
            (click)="setIsActive('1Y')"
            [class.active]="isActive('1Y')"
          >
            1Y
          </p>
        </div>
      </div>
    </div>
  </div>
  <div [style.height]="700">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [showGridLines]="false"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
owXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [results]="weatherLineChart"
    >
    </ngx-charts-line-chart>
  </div>
</div>
