.toggle-container {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  background-color: white;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 1000;
  border-radius: 5px 0px 0px 0px !important;

  .header {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #1BC693;

    .caret {
      width: 0;
   border-left: 5px solid transparent; // Adjust size as required
      border-right: 5px solid transparent; // Adjust size as required
      border-top: 5px solid white; // Using the color you specified
      display: inline-block;
      transition: transform 0.3s ease;
      color: white !important;

      &.rotated {
        transform: rotate(180deg);
      }
    }


