<div class="toggle-container">
  <div class="row">
    <img src="../../../assets/images/calender.svg" />
    <div>
      @for (i of [1, 2, 3, 4, 5, 6]; track i; let index = $index) {
        <span
          class="date"
          [ngClass]="{ active: isActive(index) }"
          (click)="setActive(index)"
          >
          March {{ i }}
        </span>
</div>
  </div>
  <div class="row">
    <div class="dropdown-container">
      <div>
        <label> Index </label>
        <Select>
        <option>NDVI</option>
      </Select>
    </div>
    <div>
      <label> Start Date </label>
      <input type="date" />
    </div>

    <div>
      <label> End Date </label>
      <input type="date" />
    </div>
    <div>
      <label> Weather Date </label>
      <Select>
      <option>select date</option>
    </Select>
  </div>
</div>
<div class="chart">
  <ngx-charts-line-chart
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
l"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    >
  </ngx-charts-line-chart>
>
</div>
</div>
<div class="toggle-container">
