<div class="flex-container">
    <div class="dropdown-container">
      <label class="dropdown-label" for="season-selection">Select Crop</label>
      <select
        id="crop-selection"
 >
        <option >
        </option>
      </select>
    </div>
  
    <div class="dropdown-container">
      <label class="dropdown-label" for="season-selection">Select Season</label>
      <select
        id="season-selection"
      >
        <option>
tion>
      </select>

      <label class="dropdown-label" for="season-selection">Select Boundary Level</label>
      <div class="search-container">

        <select>
            <option>
                UC
   </option>
            <option>
                Tehsil
            </option>
            <option>
                Destrict
            </option>
          </select>
          <span class="line">|</span>
          <div class="input-wrapper">
            <div class="search-group">
              <input
                type="text"
              />
              <img src="../../../assets/images/dashboard/search.svg"/>
            </div>
          </div>
        </div>
    </div>
  </div>
