
  .flex-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: auto;
    align-items: center;
    justify-content: flex-end;
    gap: 2vh;
    padding: 2px;
    margin-top: 2.5rem;
    margin-right: 1rem;
  }
  
  .dropdown-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  
    min-width: 12vh;
    color: var(--primary-text-color);
  }
  
  .dropdown-container label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .dropdown-container select {
    width: 150px;
    min-width: 14vh;
    height: 35px;
    background: var(--primary-bg-color);
    background-color: white;
    border-color: #1BC693;
    color: #1BC693;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 10px;
    transition: border-color 0.3s;
  }

  .dropdown-label {
    margin-right: 5px;
    margin-left: 15px;
    align-self: center;
  }
  
  .dropdown-container select:hover {
    border-color: var(--hover-border-color);
    background-color: #1BC693;
    color: white;
  }

  :host{.search-container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    border:1px solid #1BC693;
    border-radius: 8px;
    padding: 1px;
    width: 16rem;
  }
  
  .search-container select {
    min-height: 3.5vh;
    border-color: transparent;
    color: #1BC693;
    background-color: white;
    border-radius: 8px;
    width: 6rem;
  }
  
  :hover.search-container select{
    color: white;
    background-color: #1BC693;
    cursor: pointer;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .search-group {
    display: flex;
    align-items: center;
  }
  
  .search-group input {
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    width: 100%;
    max-height: 3.5vh;
    padding-left: 5px;
  }

  .line{
    color: #1BC693;
  }

  img{
    margin-right: 2px;
  }
  }