:host{.search-container {
  display: flex;
  flex-direction: row;
osition: relative;
  align-items: center;
  justify-content: center;
  border:1px solid #1BC693;
  border-radius: 8px;
  padding: 1px;
  margin-left: 6%;
  width: 16rem;
}

.search-container select {
  min-height: 3.5vh;
  border-color: transparent;
  color: #1BC693;
olor: white;
