.toggle-wrapper {
  display: flex;
  align-items: center;
  color: black;
  max-height: 20rem;
  .toggle-name {
    margin-left: 10px; // Spacing between the switch and the name
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px; // Adjusted for smaller size
  height: 22px; // Adjusted for smaller size
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    transition: 0.4s;
    border-radius: 22px;

    &::before {
      position: absolute;
      content: "";
      height: 18px; // Adjusted for smaller size
      width: 18px; // Adjusted for smaller size
      left: 2px; // Centering the toggle circle
      bottom: 2px;
      background-color: white;
      transition: 0.4s;
put:checked + .slider {
    background-color: #1bc693;
  }

  input:checked + .slider::before {
    transform: translateX(18px); // Adjusted for smaller size
  }
}

.toggle-name.active {
  color: #5dc398; /* Active item text color */
}
.menu-image {
  margin-right: 7px;
}
.menu-image {
  opacity: 0; /* Initially hide the image */
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.menu-image.visible {
  opacity: 1; /* Show the image */
  cursor: pointer;
}

.color-picker{
  margin-left: auto;
  cursor: pointer;
}
.toggle-wrapper {
  display: flex;
  align-items: center;
  color: black;
  max-height: 20rem;
  .toggle-name {
    margin-left: 10px; // Spacing between the switch and the name
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px; // Adjusted for smaller size
  height: 22px; // Adjusted for smaller size
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    transition: 0.4s;
    border-radius: 22px;

    &::before {
      position: absolute;
      content: "";
      height: 18px; // Adjusted for smaller size
      width: 18px; // Adjusted for smaller size
gle circle
      bottom: 2px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: #1bc693;
  }

  input:checked + .slider::before {
    transform: translateX(18px); // Adjusted for smaller size
  }
}

.toggle-name.active {
  color: #5dc398; /* Active item text color */
}
.menu-image {
  margin-right: 7px;
}
.menu-image {
  opacity: 0; /* Initially hide the image */
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.menu-image.visible {
e */
  cursor: pointer;
}

.color-picker{
  margin-left: auto;
  cursor: pointer;
}
