@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:host{
.sidepanel {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: #d64444;
  min-width: 39vh;
  font-family: "Poppins", sans-serif;
  background-color: white;
rollbar {
    display: none;
  }
eight: auto;
  width: auto;
}

.icon {
    position: absolute;
    margin-top: 21%;
    margin-left: 20%;
    z-index: 1;
    padding: 7px;
    height: 26px;
    font-size: 18px;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
  }


.container {
  display: flex;
  flex-direction: column;
}

 adjust grid columns if needed */
