@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.container {
  display: flex;
  flex-direction: column;
}

/* For smaller devices, adjust grid columns if needed */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

label {
  margin-left: 2rem;
}

.dropdown-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 90%;
  color: var(--primary-text-color);
}

th: 90%;
  min-width: 10vh;
  height: 38px;
  background: white;
  border:1px solid #1BC693;
  color: #1BC693;
  border-radius: 8px;
  cursor: pointer;
  padding-left: 10px;
  font-size: 17px;
  padding-right: 5px;
}

.dropdown-container select:hover {
  background-color: #1BC693;
  border: 1px solid #1BC693;
  color: white;
}

// select {
//   -webkit-appearance: none;
//   appearance: none;
//   border: none;
// }
.dropdown-container {
  position: relative;
  border-radius: 2px;
  padding: 5px;
}
 {
//   content: "▼";
//   font-size: 1rem;
//   right: 33px;
//   position: absolute;
//   color: #1BC693;
// }
.rectangle {
  width: 90%;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.container {
  display: flex;
  flex-direction: column;
}

/* For smaller devices, adjust grid columns if needed */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

label {
  margin-left: 2rem;
}

.dropdown-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 90%;
  color: var(--primary-text-color);
}

.dropdown-container select {
  width: 90%;
  min-width: 10vh;
  height: 38px;
  background: white;
  border:1px solid #1BC693;
  color: #1BC693;
  border-radius: 8px;
  cursor: pointer;
  padding-left: 10px;
  font-size: 17px;
  padding-right: 5px;
}
d-color: #1BC693;
