:host {
  .outer {
    padding: 0rem 2rem;
  }
  .main-container {
    display: flex;
    align-items: center;
  }

  .inner-container {
    flex-direction: row;
    gap: 2rem;
686868;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .item {
    display: flex;
    gap: 6px;
    align-items: center;
    color: #999999;
    cursor: pointer;
 {
    color: #69b897; /* Active item text color */
  }

  .item.active {
    color: #5dc398; /* Active item text color */
  }

  .item.active img {
    filter: invert(0.2) sepia(1) hue-rotate(120deg) contrast(1.1);
  }

  .left-menu {
    display: flex;
    gap: 2rem;
    margin-left: 7rem;
  }

  .right-buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  p {
    padding: 0px;
  }

  button {
    background-color: white;
rder-color: white;
    color: #5dc398;
    padding: 9px 21px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  button:hover {
    background-color: #1bc693;
    color: white;
  }

  .logo {
    padding-left: 10%;
  }

  h1 {
    margin: 13px 3px;
  }
  .disabled {
    color: #D5D5D5;
  }

  .hover:hover {
    cursor: auto;
    color: #D5D5D5;
  }
}
:host {
  .outer {
    padding: 0rem 2rem;
  }
  .main-container {
    display: flex;
    align-items: center;
  }

container {
    flex-direction: row;
    gap: 2rem;
    color: #686868;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
{
    display: flex;
    gap: 6px;
    align-items: center;
    color: #999999;
    cursor: pointer;
  }

  .item:hover {
    color: #69b897; /* Active item text color */
  }

  .item.active {
    color: #5dc398; /* Active item text color */
  }

  .item.active img {
    filter: invert(0.2) sepia(1) hue-rotate(120deg) contrast(1.1);
  }

  .left-menu {
    display: flex;
    gap: 2rem;
  }
