@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.table-wrapper {
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow-y: auto;
  border: 1px solid #eeeeee;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 4px; // reduced padding
    transition: background-color 0.3s;
  }

  th {
    font-weight: bold; // Bold font for headers
    font-size: 0.9em;
    background-color: transparent;
    color: #050505;
    text-align: start;
    padding-left: 5%;
  }

  td {
    font-weight: normal; // Normal font for data cells
    font-size: 0.8em;
  }

  tbody,
  tr,
  td {
    padding-left: 5%;
  }

  tr:hover td {
white;
  }
  td:nth-child(2),
  th:nth-child(2) {
    padding-left: 0;
  }
  // Line only between rows

  tr:not(:last-child) td {
    border-bottom: none;
  }
  th {
    border-bottom: 1px solid #eeeeee;
  }
}
.highlighted {
  background-color: #ffff99; // You can change this to whatever color you want
}

.tableFixHead {
  overflow: auto;
  max-height: 14rem;
  border: 1px solid #eeeeee;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.circle {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border-radius: 20%;
  margin-right: 10px;
  display: flex;
tent: center;
}

.circle span {
  font-size: 12px; /* Adjust font size as needed */
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
