.bar-chart-container {
  // Show scrollbar on hover for Firefox
  scrollbar-color: #888 #f0f0f0;
  display: flex;
  align-items: flex-start;
  overflow-y: auto;
  min-height: 4vh;
  max-width: 42vh;
}
.graph {
  border: 1px solid #eeeeee;
}
