@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

img{
  width: 190px;
  margin-left: 2rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  max-height: 60px;
  height: 80px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.06);
  padding: 0%;
  margin: 0%;
  margin-top: 3px;
  min-width: 50vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: space-between;
}

.navbar .left {
  display: flex;
  gap: 2vh;
  width: 60%;
  align-items: center;
}

.logo {
  padding-left: 10%;
}

.dropdown {
  padding-left: 14%;
}

.navbar .right {
  gap: 1vh;
  display: flex;
  align-items: center;
  right: 0;
}
// keep last chikld at let

.btn-toggle {
  position: relative;
  /* Typography */
  font-size: 0.9rem;
eight: 3.5vh;
  padding-left: 10px;
  padding-right: 10px;
  color: #1BC693;
  background-color: white;
  border: 1px solid #1BC693;
  border-radius: 8px; /* Slightly increased radius for a more rounded appearance */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */

  /* Transition for smoother hover effect */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  
}

.btn-toggle:hover{
  background-color: #1BC693;
  color: white;
}


.btn-export {
  position: relative;
  /* Typography */
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  color: black;
: #1BC693;
  background-color: white;
  border: 1px solid #1BC693;
  border-radius: 8px; /* Slightly increased radius for a more rounded appearance */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 2rem;
  /* Transition for smoother hover effect */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.btn-export:hover{
  background-color: #1BC693;
  color: white;
}
/* Style the backdrop */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

/* Style the dialog container */
.custom-dialog {
  width: 80%;
  max-width: 400px; /* Adjust the width as needed */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* Style the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}
log[open] {
  display: block;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
kground-color: white;
  -webkit-transition: .4s;
  transition: .4s;
input:checked + .slider {
  background-color: #1BC693;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1BC693;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
before {
  border-radius: 50%;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

img{
  width: 190px;
  margin-left: 2rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  max-height: 60px;
  height: 80px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.06);
  padding: 0%;
  margin: 0%;
  margin-top: 3px;
  min-width: 50vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: space-between;
}

.navbar .left {
  display: flex;
  gap: 2vh;
  width: 60%;
  align-items: center;
}

.logo {
  padding-left: 10%;
}

.dropdown {
  padding-left: 14%;
}

y: flex;
  align-items: center;
  right: 0;
}
// keep last chikld at let

.btn-toggle {
  position: relative;
  /* Typography */
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  min-height: 3.5vh;
  padding-left: 10px;
  padding-right: 10px;
  color: #1BC693;
  background-color: white;
  border: 1px solid #1BC693;
  border-radius: 8px; /* Slightly increased radius for a more rounded appearance */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */

  /* Transition for smoother hover effect */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  
}

.btn-toggle:hover{
  background-color: #1BC693;
  color: white;
}


e;
  /* Typography */
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  color: black;
  min-height: 3.5vh;
  color: #1BC693;
  background-color: white;
  border: 1px solid #1BC693;
  border-radius: 8px; /* Slightly increased radius for a more rounded appearance */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 2rem;
  /* Transition for smoother hover effect */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.btn-export:hover{
  background-color: #1BC693;
  color: white;
}
/* Style the backdrop */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

/* Style the dialog container */
.custom-dialog {
  width: 80%;
  max-width: 400px; /* Adjust the width as needed */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
tton */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

/* Show the dialog when it's open */
.custom-dialog[open] {
  display: block;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

ty: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1BC693;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1BC693;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

der-radius: 34px;
}

ider.round:before {
  border-radius: 50%;
}
